<template name="add">
    <div class="add section grey">
        <h1 class="section-title">Tortenet</h1>
        <div class="w-row">
            <div class="w-col w-col-6">
                <div class="w-row">
                    <div class="w-col w-col-6">
                        <span class="label">Nev</span>
                    </div>
                    <div class="w-col w-col-6">
                        <input id="name" tabindex="1" class="w-input" type="text" placeholder="Nev" name="age" data-name="Name" required="required"  autofocus=""></input>
                    </div>
                </div>
                <div class="w-row">
                    <div class="w-col w-col-6">
                        <span class="label">Eletkor</span>
                    </div>
                    <div class="w-col w-col-6">
                        <input id="age" tabindex="2" class="w-input" type="text" placeholder="Eletkor" name="age" data-name="Age" required="required"></input>
                    </div>
                </div>
                <div class="w-row">
                    <div class="w-col w-col-6">
                        <span class="label">Foglalkozasod</span>
                    </div>
                    <div class="w-col w-col-6">
                        <input id="work" tabindex="3" class="w-input" type="text" placeholder="Foglalkozasod" name="work" data-name="work" required="required"></input>
                    </div>
                </div>
                <div class="w-row">
                    <div class="w-col w-col-6">
                        <span class="label">Honnan</span>
                    </div>
                    <div class="w-col w-col-6">
                        <input id="pac-input" tabindex="4" class="w-input controls inputfrom" type="text"  placeholder="Honnan">
                    </div>
                </div>
                <div class="w-row">
                    <div class="w-col w-col-6">
                        <span class="label">Hova</span>
                    </div>
                    <div class="w-col w-col-6">
                        <input id="pac-input" tabindex="5" class="w-input controls inputto" type="text"  placeholder="Hova">
                    </div>
                </div>
                <div class="w-row">
                    <div class="w-col w-col-6">
                        <span class="label">Mikor mentel ki</span>
                    </div>
                    <div class="w-col w-col-6">
                        <input id="date-out" maxlength="4" tabindex="6" class="w-input date" type="text" name="date-out" required="required" data-name="Date-Out"></input>
                    </div>
                </div>
                <div class="w-row">
                    <div class="w-col w-col-6">
                        <span class="label">Mikor jottel vissza</span>
                    </div>
                    <div class="w-col w-col-6">
                        <input id="date-back" maxlength="4" tabindex="7" class="w-input date" type="text" required="required" name="date-back" data-name="Date-back"></input>
                    </div>
                </div>
                <div class="w-row">
                    <div class="w-col w-col-6">
                        <span class="label">Torteneted</span>
                    </div>
                    <div class="w-col w-col-6">
                        <textarea id="story" tabindex="8" class="w-input story-textarea" placeholder="Meseld el a torteneted" name="story" data-name="story" required="required"></textarea>
                    </div>
                </div>
                 <div class="w-row">
                    <input class="w-button button submit big-green" tabindex="9" type="submit" value="Submit" data-wait="Please wait..."></input>
                 </div>
            </div>



            <!--<div class="w-col w-col-4">-->
                <!--<div class="w-container form-container">-->
                    <!--<div class="w-form">-->
                        <!--<form name="email-form" data-name="Email Form">-->





                            <!---->
                          <!---->
                           <!---->
                            <!---->
                        <!--</form>-->
                        <!--<div class="w-form-done">-->
                            <!--<p>Thank you! Your submission has been received!</p>-->
                        <!--</div>-->
                        <!--<div class="w-form-fail">-->
                            <!--<p>Oops! Something went wrong while submitting the form :(</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <div class="w-col w-col-6">

                <div class="w-container map-container">
                    <div id="map-canvas" class="mapfrom"></div>


                </div>

                <div class="w-container map-container to">
                    <div id="map-canvas" class="mapto"></div>

                </div>

            </div>

        </div>

    </div>

</template>




