<template name="add">
    <div class="add section grey">
        <h1 class="section-title">Tortenet</h1>

        <div class="w-row">
            <div class="w-col w-col-6">
                <h3>Honnan?</h3>
                <div class="w-container map-container">
                    <div id="map-canvas" class="mapfrom"></div>
                    <input id="pac-input" tabindex="1" class="controls inputfrom" type="text"  placeholder="Honnan">
                </div>
            </div>
            <div class="w-col w-col-6">
                <h3>Hova?</h3>
                <div class="w-container map-container to">
                    <div id="map-canvas" class="mapto"></div>
                    <input id="pac-input" tabindex="2" class="controls inputto" type="text"  placeholder="Hova">
                </div>
            </div>
        </div>
        <div class="w-container form-container">
            <div class="w-form">
                <form name="email-form" data-name="Email Form">
                    <input id="age" tabindex="3" class="w-input" type="text" placeholder="Eletkor" name="age" data-name="Age" required="required"></input>
                    <input id="date-out" tabindex="4" class="w-input" type="text" placeholder="Kivandorlasi ev" name="date-out" required="required" data-name="Date-Out"></input>
                    <input id="date-back" tabindex="5" class="w-input" type="text" placeholder="Tervezett visszavandorlas eve" required="required" name="date-back" data-name="Date-back"></input>
                    <textarea id="story" tabindex="6" class="w-input story-textarea" placeholder="Meseld el a torteneted" name="story" data-name="story" required="required"></textarea>
                    <input class="w-button button submit big-green" tabindex="7" type="submit" value="Submit" data-wait="Please wait..."></input>
                </form>
                <div class="w-form-done">
                    <p>Thank you! Your submission has been received!</p>
                </div>
                <div class="w-form-fail">
                    <p>Oops! Something went wrong while submitting the form :(</p>
                </div>
            </div>
        </div>
    </div>




</template>