<template name="about">
    <div class="about section grey">
        <h1 class="section-title">Foldobott ko</h1>
        <p>Történeteket gyűjtünk. Szeretnénk egy térképre felrakni a lehető legtöbb külföldre költözött magyar rövid sztoriját.
            <br/>

            · Így új felületen láthatjuk hol vannak magyarok a világban - akár városok szerint is -, valamint <br/>

            · Lesz hol elindulnod, ha érdekel, hogy más magyarok hol csinálják a szakmád, végzik a szakod vagy csak  érdekelődsz bármely város / ország iránt
            <br/><br/>

            Oszd meg a történeted!<br/><br/>

            Sokaknak mutathatsz utat azzal, hogy leírodaz élményeid. Az információhiány a legnagyobb visszatartó erő a külföldi lehetőségek megismerésében. Oszd meg a döntésed előnyeit és hátrányait.
            <br/>

            Ha van olyan információ, online forrás amit mindenkinek ismernie kell a lakóhelyeddel, szakmáddal, egyetemeddel kapcsolatban küldd el nekünk itt és később felrakjuk az ország / város profiljába.</p>
    </div>
</template>