<template name="intro">
    <div class="intro section grey">
        <h1 class="section-title">Hova tovabb </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id
            rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
        <div class="w-row">
            <div class="w-col w-col-4 w-col-tiny-6"></div>
            <div class="w-col w-col-2 w-col-tiny-6 intro-col"><a class="button" href="/add">Add</a>
            </div>
            <div class="w-col w-col-2 w-col-tiny-6 intro-col"><a class="button" href="/list">Explore</a>
            </div>
            <div class="w-col w-col-4 w-col-tiny-6"></div>
        </div>
    </div>
</template>