<template name="map">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=geometry"></script>
    <div class="w-row title-row">
        <div class="w-container">
            <div class="title-ph">
            <span class="title">Ez itt a foldobottko.hu béta tesztje. Az elsők között próbálod ki az oldalt. Nagyon kiváncsiak vagyunk a véleményedre. Írj nekünk itt.
</span>
            </div>
        </div>
    </div>
    <div id="map-canvas" class="storymap"></div>
</template>